<h1>{{liste.nom}} </h1>
<div id="accordion">
    <h2>Objet</h2>
    

    <div>{{liste.objet|raw}}</div>
    <h2>Montants</h2>
    <div>{{liste.montants|raw}}</div>
    
    <h2> Organisme </h2> 
    <div>
       
        <h3>{{liste.organisme.sigle}}<br>
            <span> {{liste.organisme.raison_sociale}}</span></h3>
            {% if liste.organisme['adresses'] is not empty %}
                {% for adresse in liste.organisme.adresses %}
                    <ul>    <li> 
                            {% if adresse.adresse is not null and adresse.adresse is not empty %}
                        {{adresse.adresse}}</br>  {% endif %}
                        {% if adresse.interlocuteur is not null and adresse.interlocuteur is not empty %}
                        {{adresse.interlocuteur}}</br>  {% endif %}
                            {% if adresse.email is not null and adresse.email is not empty %}
                            {{adresse.email}}</br> {% endif %}
                                 {% if adresse.service is not null and adresse.service is not empty %}
                                <strong>{{adresse.service}}</strong> </br> {% endif %}
                                        {% if adresse.telecopie is not null and adresse.telecopie is not empty %}
                                        Fax :{{adresse.telecopie}} </br> {% endif %} 
                                        {% if adresse.telephone is not null and adresse.telephone is not empty %}
                                            Téléphone :{{adresse.telephone}}</br> {% endif %}
                                            {% if adresse.web is not null and adresse.web is not empty %}
                                                Web :{{adresse.web}}{% endif %} </br>
                                            </li></ul>
                    
                                        
                                            {% endfor %}
                                                {% endif %}
    </div>
    <h2>Coordonnées CCI en fonction du territoire indiqué</h2>
    <div>
        {% if liste.cci is not empty %}
            <li> <ul> {{liste.cci[0].organisme}}</ul>
                <ul> {{liste.cci[0].adresse }}</ul>
                <ul> {{liste.cci[0].telephone }}</ul>
                <ul> {{liste.cci[0].telecopie }}</ul>
                <ul> {{liste.cci[0].web }}</ul>
            </li>
        {% endif %}
    </div>
    <h2>Informations complémentaires</h2>
    <div>
        
        {{liste.responsabilites|raw}}</div> 
</div>

<div><a href="javascript:history.go(-1)" class="retour">Retour à la liste</a> </div>
<link rel="stylesheet"  href="{{ asset('bundles/Api/css/jquery-ui.css') }}" />
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
    h1{

        color: #F57C00;
        font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
        font-weight: normal;
        text-align: center;
        padding: 20px 20px 10px 20px;
        margin: 0px;
    }
    h2{
        font-size: 20pt;
        color: #f57C00;
        font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
        font-weight: normal;
        padding: 20px 20px 10px 20px;
        margin: 0px;
    }
    h3{
        font-size: 15pt;
        color: #f57C00;
        font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
        font-weight: normal;
        padding: 20px 20px 10px 20px;
        margin: 0px;
    }
    li{
        list-style-type: square;
    }
    .retour{
        cursor: pointer;
        border-style: none;
        padding: 5px;
        background-color: #ffc200;
        background-image: linear-gradient(to bottom,#f57C00,#f57C00);
        font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
        font-size: 10pt;
        color: white;
        font-weight: bold;
        float: right;
        margin-top: 10px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        border-radius:2px;
        text-decoration: none;
    }
</style>
<script>
    $(function () {
        $("#accordion").accordion();
    });
</script>