<div>
    
    <span id="nombre"></span> 
<div id="liste"></div>
    
</div>
<script>
    $( document ).ready(function() {
     $('#search_bouton').click(function() {
         $form=$(this).parent('form');
        $.ajax({
    url : "{{path('api_homepage')}}",
    type: 'post',
    data : $form.serialize(),
    dataType: "json",
    success: function(data) {
     
     if( $.isEmptyObject(data)) {
    $('#nombre').html('0');
          $('#liste').html('pas de dispositifs present'); 
     } else {
        

     console.log(data.dispositifs);
     var dispo = data.dispositifs;
     var nombre = dispo.length;
      var item ='';
     console.log(nombre);
     $.each(dispo,function(i,el){
          
           item +='<li>'+ el.moyens  +'</li>';
         //  item +='<li>'+'<a href=" +el.uri" + >'+'</li>';
        });
    $liste ='<ul>'+item+'</ul>';
     $('#nombre').html(nombre);
     
    $('#liste').html($liste); 
     }
    }//end succes
  }); 
         
         
    
    
</script>