<div class="row">
     
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h1 id="intro">LES AIDES EN 3 ETAPES</h1>
        <h1 id="h1">Indiquez l'activité ou le SIRET de votre entreprise, votre besoin et le type d'aide recherché</h1>
        {{ form_start(searchForm, { 'attr': {'class': 'myform form-horizontal'} }) }}
        <div id="tabs">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active "><a href="#qui" aria-controls="qui" role="tab" data-toggle="tab" class="glyphicon glyphicon-cog"> 1:Qui?</a></li>
                <li role="presentation"><a href="#quoi" aria-controls="quoi" role="tab" data-toggle="tab"  class="glyphicon glyphicon-asterisk"> 2:Quoi? </span></a></li>
                <li role="presentation"><a href="#comment" aria-controls="comment" role="tab" data-toggle="tab" class="glyphicon glyphicon-question-sign"> 3:Comment?</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="qui">
                    <div class="row">
                        
                        <h1 ><div id="h1" class="col-md-10" >Description de l'entreprise </div> 
                    <div class="col-md-2"><div class="dropdown" >
    <span class="glyphicon glyphicon-align-justify" id="menu1"  data-toggle="dropdown">
    <span class="caret"></span></span>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Outils</a></li>
      
      <li role="presentation" class="divider"></li>
      <li role="presentation" ><a role="menuitem" tabindex="-1" href="#" class="remisezero">Remise à zero</a></li>    
    </ul>
                        </div></div></div>
                        </h1>
                    <div class="form-group">
                        {{ form_label(searchForm.departement, 'Localisation ', {'label_attr':{class:'col-md-2'} }) }}
                        {{ form_widget(searchForm.departement, {'attr':{class:'col-md-6'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(searchForm.commune, 'Commune ', {'label_attr':{class:'col-md-2'} }) }}
                        {{ form_widget(searchForm.commune, {'attr':{class:'col-md-6'} }) }}
                    </div>
                    <div class="form-group">
                        Si votre entreprise existe, entrez son numéro SIRET, sinon choisissez l'activité qui vous concerne grace au bouton […] ou en entrant directement le code NAF
                    </div>
                    <div class="form-group">
                        {{ form_label(searchForm.siret, 'Votre SIRET *', {'label_attr':{class:'col-md-2'} }) }}
                        {{ form_widget(searchForm.siret, {'attr':{class:'col-md-6'} }) }}
                        <a href="#" data-toggle="tooltip" title="Le numéro SIRET est un identifiant d'établissement.
                           Cet identifiant numérique de 14 chiffres est articulé en deux parties : la première est le numéro SIREN de l'unité légale à laquelle appartient l'unité SIRET ; la seconde, habituellement appelée NIC (Numéro Interne de Classement), se compose d'un numéro d'ordre à quatre chiffres attribué à l'établissement et d'un chiffre de contrôle, qui permet de vérifier la validité de l'ensemble du numéro SIRET.!" id="help"><span  class="glyphicon glyphicon-question-sign"></span></a>

                    </div>
                    <div id="desc" class="col-md-12"></div>
                    <!--<div id='load1' class="loader"></div>-->

                    <!--Recuperation du libelle du domaine et son niveau en hidden !-->
                    <div class="blockActivite">
                        <div class="form-group">
                            {{ form_label(searchForm.activity, 'ou votre activité *', {'label_attr':{class:'col-md-2'} }) }}
                            <input type="text" class="activite"  style="display:"> 
                            <div class='blockSelect' >
                                {{ form_widget(searchForm.activity, {'attr':{class:'col-md-6'} }) }}
                                <select id="test"></select>
                            </div>
                            <span id="btnActivite1">...</span>
                            <span id="btnActivite2">+</span>
                            <span id="btnActivite3">X</span>
                            <a href="#" data-toggle="tooltip" title="Code APE (Code Activité Principale Exercée ou code NAF : Nomenclature des Activités Françaises)
                               Renseignez le code alphanumérique de 4 chiffres plus 1 lettre attribuée par l'INSEE (exemple : 4711B pour commerce d’alimentation générale)
                               Ce critère est obligatoire pour effectuer la recherche." id="help" ><span  class="glyphicon glyphicon-question-sign"></span> </a>
                            <div id="nomActivite"></div>
                            <div id="nomActivite2"></div>
                        </div>

                    </div>

                    <div id="seperate"></div>

                    <input type="text" value="A" name="codeactiv" id="codeactiv"  style="display:none">

                    <!--Fin Recuperation  !-->
                    <div></div>
                    <div class="form-group">
                        {{ form_label(searchForm.fliliere, 'Filière marché', {'label_attr':{class:'col-md-2'} }) }}
                        {{ form_widget(searchForm.fliliere, {'attr':{class:'col-md-6'} }) }}
                        <a href="#" data-toggle="tooltip" title="Ce critère permet d’identifier les aides qui ne dépendent pas forcément de l’activité de l’entreprise, mais des débouchés possibles pour les produits et services de l’entreprise (exemple : entreprise du textile fabricant des tissus pour le secteur de l’aéronautique).
                           Vous pouvez renseigner la filière marché en complément de l’activité choisie ci-dessus. En utilisant ce critère de recherche, vous obtiendrez comme résultats les aides qui concernent spécifiquement la filière choisie, ainsi que les aides qui concernent toutes les filières marchés." id="help"> <span  class="glyphicon glyphicon-question-sign"></span></a>          </div>


                    <span id="step"><a href="#quoi" class="search_bouton ext">Etape suivante </a></span>
                </div>
                <div role="tabpanel" class="tab-pane" id="quoi">
                    <h1><div id="h1">Description du besoin de l'entreprise</div></h1>
                    <div class="form-group">
                        {{ form_label(searchForm.domaine, "Domaine d'application * ", {'label_attr':{class:'col-md-2'} }) }}
                        {{ form_widget(searchForm.domaine, {'attr':{class:'col-md-6'} }) }}
                        <a href="#" data-toggle="tooltip" title="Précisez le besoin ou le projet pour lequel vous recherchez des aides.
                           Ce critère est obligatoire pour effectuer la recherche." id="help"><span  class="glyphicon glyphicon-question-sign"></span></a>
                    </div>
                    <span id="step"><a href="#comment" class="search_bouton ext">Etape suivante </a></span>
                </div>
                <div role="tabpanel" class="tab-pane" id="comment">
                    <h1><div id="h1">Description du type d'aides recherchées</div></h1>
                    <div class="form-group">
                        {{ form_label(searchForm.moyen, "Moyen d'intervention * ", {'label_attr':{class:'col-md-2'} }) }}
                        {{ form_widget(searchForm.moyen, {'attr':{class:'col-md-6'} }) }}
                        <a href="#" data-toggle="tooltip" title="Précisez quels types d’aides vous recherchez pour votre besoin ou projet." id="help"><span  class="glyphicon glyphicon-question-sign"></span></a>
                       
                    </div>
                    <a href='#'  class="btnresultat" style="display:none"> Résultats</a>
                </div>
            </div>


        </div>

        <br>

        <!--  <input type="button" id="search_bouton" value="Etape suivante >>>" class="next" ><span class ="glyphicons glyphicons-unshare"></span> -->
        <!--<div id='load2' class="loader"></div>  -->
        <a href='#' id='search_page' class="glyphicon glyphicon-eye-open" height="50px" margin-left="2px"> <span class="loading"> Recherche en cours ...</span> <span class="nombreDispo"><span id="nombre"  ></span> Dispositifs disponibles</span></a>
        {{ form_end(searchForm) }}
    </div>
</div>
<style>
    #tab{
        background-color: #fff;
        border-bottom: 5px solid #f57C00;
        color: #f57C00 ;
        font-weight: bold;
    }

    .blockActivite {
        position: relative;

    }
    .blockSelect {
        position: absolute;
        top: 27px;
        left:195px;

    } 
    #nomActivite{
        margin-top: 30px;
        left:140px;
        margin-bottom: 15px;
        margin-left: 20px;
    }   
    #apibundle_search_activity, #test{
        width: 210px;
        left:10px;
    } 

    #search_page{
        display: none;
        float: left;
        font-size: 20px;
        color: white;
        border: 1px solid #CCCCCC;
        background-color: #78b807;
        background-image: linear-gradient(to bottom,#78b807,#6CA506);
        cursor: pointer;
        width: 240px;
        height: 30px;
        font-weight: bold;

    }
    #desc{
        background: #ccc;
        padding: 10px;
        display: none;
        margin: 10px;
    }
    #h1{ color: #F57C00;
         padding: 0px 5px 10px 5px;
         font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
         font-size: 12pt;
         text-align: left;
         font-weight: normal;
         border-bottom: 1px solid #CCCCCC;}



    #intro{
        font-size: 20pt;
        color: #F57C00;
        font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
        font-weight: normal;
        text-align: center;
        padding: 20px 20px 10px 20px;
        margin: 0px;
    }
    left-bar{
        width: 33%;
    }
    #search_page{

        font-size: 12pt;
        color: white;
        border: 1px solid #CCCCCC;
        background-color: #f57C00;
        background-image: linear-gradient(to bottom,#f57C00,#f57C00);
        cursor: pointer;
        width: 250px;

        -moz-border-radius:7px;
        -webkit-border-radius:7px;
        border-radius:7px;

    }
    .btnresultat{
        display:none;
        font-size: 12pt;
        color: white;
        padding-left: 90px;
        background-color: #f57C00;
        background-image: linear-gradient(to bottom,#f57C00,#f57C00);
        cursor: pointer;
        width: 250px;
        float:right;
        font-weight: bold;
        height: 30px;

        -moz-border-radius:7px;
        -webkit-border-radius:7px;
        border-radius:7px;

    }
    #btnActivite1, #btnActivite2, #btnActivite3{
        border-style: none;
        padding: 5px;
        background-color: #f57C00;
        background-image: linear-gradient(to bottom,#f57C00,#f57C00);
        font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
        font-size: 10pt;
        color: white;
        font-weight: bold;


    }
    .next{

        color: #E50043;
        font-style: italic;
        cursor: pointer;
        float: right;
    }
    #step{

        cursor: pointer;
        border-style: none;
        padding: 5px;
        background-color: #F57C200;
        background-image: linear-gradient(to bottom,#F57C00,#F57C00);
        font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
        font-size: 10pt;
        color: #FFF;
        font-weight: bold;
        float: right;
        border-radius:3px;
        width: 150px;
        height: 30px;
        text-decoration: none;

    }

    .glyphicon glyphicon-eye-open{
        margin-left: 5px;
    }
    .search_bouton{
        color: #FFF;

        border-radius:3px;
    }
    #help{
        width: 50px;
        height: 30px;
        border-radius: 15px;
        background-color: #404040;
        color: white;
        font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
        font-size: 16pt;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        margin: 0px 10px;
    }

</style>
<style>
    .loader {
        display: none;
        border: 8px solid #f57b00;
        border-radius: 50%;
        border-top: 8px solid #ffc200;
        border-bottom: 8px solid #ffc200;
        width: 8px;
        height: 8px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;

    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<link rel="stylesheet"  href="{{ asset('bundles/Api/css/bootstrap.css') }}" />

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {


        $('.ext').click(function (e) {
            e.preventDefault();
            //$('a[href="#quoi"]').tab('show');
            //console.log( $('a[href="' + $(this).attr('href') + '"]').tab('show'));
            $('a[href="' + $(this).attr('href') + '"]').tab('show');
        })


        $('#apibundle_search_activity, #test, #btnActivite2, #btnActivite3').hide();
        $('#btnActivite1').click(function () {
            $('#apibundle_search_activity').show();
            $('#nomActivite').show();
            
        });
        $('#btnActivite2').click(function () {
            $('#apibundle_search_activity').hide();
            $('#test').show();
            $('#nomActivite').show();
        });


        $('#btnActivite3').click(function () {
            $('#btnActivite1,#btnActivite2').hide();
            $('#test').hide();
            $('#apibundle_search_activity').show();
            $count = 1;
            $('.activite').val('');
            $('#nomActivite').html("");
        });







        $('#search_page').click(function (e) {
            e.preventDefault();
            $form = $('.myform');
            $form.submit();

        });
        $('.btnresultat').click(function (e) {
            e.preventDefault();
            $form = $('.myform');
            $form.submit();

        });






        function search(elem)
        {

            $form = $('.myform');
            $('#search_page').show();
            $('.nombreDispo').hide();
            $('.loading').show();
            $('#load2').show(); //cacher l'icone de loading
            $('#tabs-2').click();
            $.ajax({
                url: "{{path('api_homepage')}}",
                type: 'post',
                data: $form.serialize(),
                dataType: "json",
                success: function (data) {
                    $('#load2').hide();
                    if ($.isEmptyObject(data)) {
                        $('#nombre').html('0');
                        $('#search_page').hide();
                        $('#liste').html('pas de resultats');
                        $('.btnresultat').hide();
                    } else {//il y a de resultats
                        $('.nombreDispo').show();
                        $('.loading').hide();
                        $('.btnresultat').show();
                        if ($('#apibundle_search_siret').val() != '')
                        {
                            console.log(data);
                            $('.activite').val(data.etablissement.ape.code);
                            $('.activite').attr('disabled', 'disabled');
                            $('#nomActivite2').html(data.etablissement.ape.libelle);
                            $('#btnActivite1').hide();
                            $('#apibundle_search_commune').val(data.etablissement.commune.nom);
                            $('#apibundle_search_commune').attr('disabled', 'disabled');
                            $('#apibundle_search_departement').val(data.etablissement.commune.departement);
                            $('#apibundle_search_departement').attr('disabled', 'disabled');
                            $('#apibundle_search_activity').hide();
                            var raison_sociale = data.etablissement.raison_sociale;
                            //var adresse = data.etablissement.adresse;
                            var dateC = data.etablissement.date_creation;
                            var formeJ = data.etablissement.forme_juridique.libelle;
                            var effectif = data.etablissement.tranche_effectif.libelle;
                            $('#desc').html('<p>' + raison_sociale + '</br>' + '<li>' + 'Créée le ' + dateC + '</li>' + '<li>' + 'Forme juridique:' + formeJ + '</li>' + '<li>' + 'Effectif:' + effectif + '</li>' + '</p>');
                            $('#desc').show();

                        }
                        if ($('#apibundle_search_siret').val() == '') {
                            $('#desc').html('');
                            $('#desc').hide();

                        }


                        var dispo = data.dispositifs;
                        var nombre = dispo.length;
                        var item = '';

                        console.log(nombre);
                        //var route =
                        $('#nombre').html(nombre);
                    }
                }//end succes
                ,
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#load2').hide();
                }
            });


        }//ed sea
        // $('.search_bouton').click(function () {
        //    search($(this));
        //  });
        $('#apibundle_search_departement, #apibundle_search_domaine, #apibundle_search_fliliere, #apibundle_search_moyen').change(function (e) {
            console.log($(this).val());
            e.preventDefault();
            if ($(this).val() != '') {
                search($(this));
            }

        });
        $("#apibundle_search_siret").focusout(function () {
            if ($(this).val() == '') {
                $('.activite').val('');
                $('.activite').attr('disabled', false);
                $('#nomActivite2').html('');
                $('#btnActivite1').show();
                $('#desc').hide();
                $('#apibundle_search_commune').val('');
                $('#apibundle_search_commune').attr('disabled', false);
                $('#apibundle_search_departement').val('');
                $('#apibundle_search_departement').attr('disabled', false);
                $('#search_page').hide();
                 $('.btnresultat').hide();
                 $('#apibundle_search_activity').hide();
                // document.getElementById('#apibundle_search_activity').style.display = "none";
                 $('#test').hide();
            }

            if ($(this).val() != '') {
                search($(this));

            }
        });
        
        ///remise à zero du formulaire:
        $(".remisezero").click(function () {
           
                $('#apibundle_search_siret').val('');
                $('#apibundle_search_siret').attr('disabled', false);
                $('.activite').val('');
                $('.activite').attr('disabled', false);
                $('#nomActivite').hide();
                
                $('#nomActivite2').html('');
                $('#btnActivite1').show();
                $('#btnActivite2').hide();
                $('#btnActivite3').hide();
                $('#desc').hide();
                $('#apibundle_search_commune').val('');
                $('#apibundle_search_commune').attr('disabled', false);
                $('#apibundle_search_departement').val('');
                $('#apibundle_search_departement').attr('disabled', false);
                $('#search_page').hide();
                 $('.btnresultat').hide();
                $('#apibundle_search_activity').hide();
                 
                 $('#test').hide();
          

          
        });
        ///fin remise à zero
        $("#tabs").tab();

        var $count = 1;
        index2 = "";
        index3 = "";
        index4 = "";
        index5 = "";
        index6 = "";
        $('#test').hide();
        $('#apibundle_search_activity, #test').change(function () {
            $('.activite').val($(this).val());
            var idselect = $(this).attr('id');
            $libel_1 = $('#' + idselect + ' option:selected').text();
            $libel_2 = $libel_1.split(" - ");

            if (idselect == 'apibundle_search_activity') {
                $('#nomActivite').html($libel_2[1]);
            } else {
                $('#nomActivite').html($libel_1);
            }



            $('#load1').show();
            $('#codeactiv').val($(this).val())

            $count++;
            if ($count >= 6) {
                $count = 6;
            }
            // Simulate form data, but only include the selected sport value.
            if ($count == 2) {
                index2 = $(this).prop('selectedIndex') - 1;
            }
            if ($count == 3) {
                index3 = $(this).prop('selectedIndex') - 1;
            }
            if ($count == 4) {
                index4 = $(this).prop('selectedIndex') - 1;
            }
            if ($count == 5) {
                index5 = $(this).prop('selectedIndex') - 1;
            }
            if ($count >= 6) {
                index6 = $(this).prop('selectedIndex') - 1;
                $('#btnActivite1,#btnActivite2').hide();
                $('#btnActivite3').show();

            }

            var data = {};
            data['activite'] = $(this).val();
            data['index2'] = index2;
            data['index3'] = index3;
            data['index4'] = index4;
            data['index5'] = index5;
            data['index6'] = index6;
            data['count'] = $count;

            // Submit data via AJAX to the form's action path.
            $.ajax({
                url: "{{path('api_niveau_activite')}}",
                type: 'post',
                data: data,
                dataType: "json",
                success: function (data) {
                    $('#load1').hide();
                    //console.log(html);
                    var selectNiv = '<option>choisir une activité</option>';

                    $.each(data, function (i, el) {
                        //console.log( el.libelle  );
                        selectNiv += '<option value=' + el.code + '>' + el.libelle + '</option>';
                    });

                    //selectNiv1+='</select>';
                    $('#test').html(selectNiv).show();
                    $('#apibundle_search_activity').hide();
                    $('#apibundle_search_activity, #test').hide();
                    $('#btnActivite1').hide();
                    $('#btnActivite3').hide();
                    $('#btnActivite2').show();
                    //$('#niveau').val( parseInt($('#niveau').val()) + 1);

                }//end succes
                ,
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#load1').hide();
                    $('#test').hide();
                }
            });

        });
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
