
<div id="intro">{{liste.dispositifs|length}}  aides répondent à votre recherche </div>
<div id="left-bar">

</div>

<div class="row">
    <div class="col-md-6">
        Trier par :
        <select id="sort">
            <option value="0">Popularité</option>  
            <option value="1">Dispositif</option> 
            <option value="2">Organisme</option>                     
        </select>
    </div> 
    <div class="col-md-6">

        <a href="javascript:history.go(-1)" class="retour">Nouvelle recherche</a>
    </div>
</div>
<div>

    <table id="jqGrid" class="table table-striped table-bordered" cellspacing="0" >
        <thead><tr  >
                <td class="col-md-1">Popularité</td>
                <td class="col-md-7">Dispositif</td>
                <td class="col-md-3" style="display:none">Organisme</td>
                <td class="col-md-1">Url</td>

            </tr>
        </thead>
        {% for dispo in (liste.dispositifs) %}
            <tr>
                <th id="popularite" > 
                    <span style="display:none">  {{dispo.popularite}} </span>
                    {%  if dispo.popularite < 0.1 %}
                        <img src="{{ asset('bundles/Api/images/popularite.5.png') }}" alt="" />

                    {%  elseif dispo.popularite <0.3 and dispo.popularite >=0.1  %}
                        <img src="{{ asset('bundles/Api/images/popularite.4.png') }}" alt="" />
                    {%  elseif dispo.popularite <0.5 and dispo.popularite >=0.3  %}
                        <img src="{{ asset('bundles/Api/images/popularite.3.png') }}" alt="" />
                    {%  elseif dispo.popularite <0.8 and dispo.popularite >=0.5  %}
                        <img src="{{ asset('bundles/Api/images/popularite.2.png') }}" alt="" />
                    {%  elseif dispo.popularite >=0.8   %}
                        <img src="{{ asset('bundles/Api/images/popularite.1.png') }}" alt="" />
                    {%  endif  %}
                </th>
                <th>  {{dispo.nom}}  <span class="organisme">{{dispo.sigle|upper}}</span></th> 

                <th style="display:none"> {{dispo.sigle}}</th>
                <th>  
                    <a href="{{path ('api_fiche',{'idr': liste.idr ,'dispositif': dispo.numero  } )}}" > Voir <span class="glyphicon glyphicon-menu-right"></span></a> </th>

                {#if  dispo.sigle|round == 1
               affiche img 1 *#}


              
            </tr>
        {% endfor %}
    </table>
</div>

<link rel="stylesheet"  href="{{ asset('bundles/Api/css/bootstrap.min.css') }}" />
<link rel="stylesheet"  href="{{ asset('bundles/Api/css/dataTables.bootstrap.min.css') }}" />
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="{{ asset('bundles/Api/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/Api/js/dataTables.bootstrap.min.js') }}"></script>


<style>
    #left-bar{  width: 25%;
                display: table-cell;
                padding: 20px 0px;
                vertical-align: top;
    }
    .organisme{
        color: #f57b00;
        font-weight: bold;
    }
    #popularite{
        background-color: #F57C00;
    }
    #intro{
        font-size: 20pt;
        color: #F57C00;
        font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
        font-weight: normal;
        text-align: center;
        padding: 20px 20px 10px 20px;
        margin: 0px;
    }
    .retour{
        cursor: pointer;
        border-style: none;
        padding: 5px;
        background-color: #ffc200;
        background-image: linear-gradient(to bottom,#f57C00,#f57C00);
        font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
        font-size: 10pt;
        color: white;
        font-weight: bold;
        float: right;
        margin-top: 10px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        border-radius:2px;
    }
</style>
<script>
    $.extend(true, $.fn.dataTable.defaults, {
        "searching": true,
        "ordering": true,
        "dom": '<"top">rt<"bottom"flp><"clear">',
        aLengthMenu : [5, 10, 15,20]
    });
    /* $(document).ready(function () {
     $('#jqGrid').DataTable();
     });*/
    var dataTable = $('#jqGrid').dataTable({"sPaginationType": "full_numbers"});

    $('#sort').change(function () {
        var col = $(this).val();
        dataTable.fnSort([[col, 'asc']]);
       
    });

</script>