{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reponses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td><a href="{{ path('reponses_show', { 'id': reponse.id }) }}">{{ reponse.id }}</a></td>
                <td>{{ reponse.name }}</td>
                <td>{% if reponse.statut %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reponses_show', { 'id': reponse.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reponses_edit', { 'id': reponse.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reponses_new') }}">Create a new reponse</a>
        </li>
    </ul>
{% endblock %}
