{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reponse</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ reponse.name }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if reponse.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        
            <a href="{{ path('reponses_index') }}">Back to the list</a>
        
        
            <a href="{{ path('reponses_edit', { 'id': reponse.id }) }}">Edit</a>
        
        
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        
    </ul>
{% endblock %}
