Fiche Aide
<h1>{{liste.nom}} </h1>
<div id="accordion">
<h2>objet</h2>

<div>{{liste.objet|raw}}</div>
<h2>Montants</h2>
<div>{{liste.montants|raw}}</div>
<h2>Organisme</h2>
<div>
    {% if liste.organisme['adresses'] is not empty %}
        <li>  {{liste.organisme['raison_sociale']}} </li>
    <li>  {{liste.organisme['implantation']}} </li>
    <li>  <ul> {{liste.organisme['adresses'][0].adresse}}</ul> 
        <ul> {{liste.organisme['adresses'][0].libelle }}</ul>
        <ul> {{liste.organisme['adresses'][0].email }}</ul>
        <ul> {{liste.organisme['adresses'][0].telephone }}</ul>
    </li>
    {% endif %}
</div>
<h2>Coordonnées CCI en fonction du territoire indiqué</h2>
<div>
    {% if liste.cci is not empty %}
    <li> <ul> {{liste.cci[0].organisme}}</ul>
        <ul> {{liste.cci[0].adresse }}</ul>
        <ul> {{liste.cci[0].telephone }}</ul>
        <ul> {{liste.cci[0].telecopie }}</ul>
        <ul> {{liste.cci[0].web }}</ul>
    </li>
    {% endif %}
</div>
<h2>Informations complémentaires</h2>
<div>{{liste.responsabilites|raw}}</div> 
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <style>
    h1{
    font-size: 20pt;
    color: #ffc200;
    font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    text-align: center;
    padding: 20px 20px 10px 20px;
    margin: 0px;
   }
   h2{
    font-size: 20pt;
    color: #ffc200;
    font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    padding: 20px 20px 10px 20px;
    margin: 0px;
   }
  </style>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>