
<div id="intro">Les aides en 3 étapes </div>
<h1>Indiquez l'activité ou le SIRET de votre entreprise, votre besoin et le type d'aide recherché</h1>
{{ form_start(searchForm, { 'attr': {'class': 'myform form-horizontal'} }) }}
<div id="tabs">
  
    
    
    
    
    <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#qui" aria-controls="qui" role="tab" data-toggle="tab">1:Qui?</a></li>
    <li role="presentation"><a href="#quoi" aria-controls="quoi" role="tab" data-toggle="tab">2:Quoi?</a></li>
    <li role="presentation"><a href="#comment" aria-controls="comment" role="tab" data-toggle="tab">3:Comment</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="qui">
      <h1 >Description de l'entreprise </h1>
<div class="form-group">
{{ form_label(searchForm.departement, 'Localisation ', {'label_attr':{class:'col-md-2'} }) }}
{{ form_widget(searchForm.departement, {'attr':{class:'col-md-6'} }) }}
</div>
<div class="form-group">
{{ form_label(searchForm.commune, 'Commune ', {'label_attr':{class:'col-md-2'} }) }}
{{ form_widget(searchForm.commune, {'attr':{class:'col-md-6'} }) }}
</div>
<div class="form-group">
      Si votre entreprise existe, entrez son numéro SIRET, sinon choisissez l'activité qui vous concerne grace au bouton […] ou en entrant directement le code NAF
</div>
<div class="form-group">
{{ form_label(searchForm.siret, 'Votre SIRET *', {'label_attr':{class:'col-md-2'} }) }}
    {{ form_widget(searchForm.siret, {'attr':{class:'col-md-6'} }) }}

<p id="desc"></p>
</div>
 
<!--<div id='load1' class="loader"></div>-->

    <!--Recuperation du libelle du domaine et son niveau en hidden !-->
    <div class="blockActivite">
    <div class="form-group">
    {{ form_label(searchForm.activity, 'ou votre activité *', {'label_attr':{class:'col-md-2'} }) }}
    <input type="text" class="activite"  style="display:"> 
   <div class='blockSelect'>
    {{ form_widget(searchForm.activity, {'attr':{class:'col-md-6'} }) }}
    <select id="test"></select>
   </div>
    <span id="btnActivite1">...</span>
     <span id="btnActivite2">+</span>
        <span id="btnActivite3">X</span>
    <div id="nomActivite"></div>
    </div>
    </div>
    <div id="seperate"></div>
    
    <input type="text" value="A" name="codeactiv" id="codeactiv"  style="display:none">

     <!--Fin Recuperation  !-->

   <div class="form-group">
{{ form_label(searchForm.fliliere, 'Filière marché', {'label_attr':{class:'col-md-2'} }) }}
{{ form_widget(searchForm.fliliere, {'attr':{class:'col-md-6'} }) }}
    
    </div>


<a href="#quoi" class="search_bouton ext">Etape suivante </a>
</div>
 <div role="tabpanel" class="tab-pane" id="quoi">
      <h1>Description du besoin de l'entreprise</h1>
      <div class="form-group">
    {{ form_label(searchForm.domaine, 'Domaine d application * ', {'label_attr':{class:'col-md-2'} }) }}
{{ form_widget(searchForm.domaine, {'attr':{class:'col-md-6'} }) }}
</div>
<a href="#comment" class="search_bouton ext">Etape suivante </a>
 </div>
 <div role="tabpanel" class="tab-pane" id="comment">
      <h1>Description du type d'aides recherchées</h1>
      <div class="form-group">
        {{ form_label(searchForm.moyen, 'Moyen d intervention * ', {'label_attr':{class:'col-md-2'} }) }}
        {{ form_widget(searchForm.moyen, {'attr':{class:'col-md-6'} }) }}
      </div>
      </div>
     </div>
     
     
</div>

     <br>

   <!--  <input type="button" id="search_bouton" value="Etape suivante >>>" class="next" ><span class ="glyphicons glyphicons-unshare"></span> -->
<!--<div id='load2' class="loader"></div>  -->
<a href='#' id='search_page'><span id="nombre"></span>Dispositifs disponible</a>
{{ form_end(searchForm) }}
 
<style>
    #tab{
        background-color: #fff;
        border-bottom: 5px solid #f57C00;
        color: #f57C00 ;
    }

  .blockActivite {
    position: relative;
    
}
.blockSelect {
    position: absolute;
    top: 27px;
    left:300px;
    
} 
#nomActivite{
    margin-top: 10px;
    left:140px;
    margin-bottom: 15px;
    margin-left: 110px;
}   
#apibundle_search_activity, #test{
    width: 200px;
}  
    #search_page{
        display: none;
        float: left;
    font-size: 20px;
    color: white;
    border: 1px solid #CCCCCC;
    background-color: #78b807;
    background-image: linear-gradient(to bottom,#78b807,#6CA506);
    cursor: pointer;
    width: 250px;
    }
    #desc{
      background: #ccc;
    }
   h1{ 
    color: #f57b00;
    padding: 0px 5px 10px 5px;
    font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
   font-size: 12pt;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid #CCCCCC;}
   
   
   #intro{
    font-size: 20pt;
    color: #ffc200;
    font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    text-align: center;
    padding: 20px 20px 10px 20px;
    margin: 0px;
   }
   left-bar{
       width: 33%;
   }
#search_page{
    
    font-size: 12pt;
    color: white;
    border: 1px solid #CCCCCC;
    background-color: #ffc200;
    background-image: linear-gradient(to bottom,#78b807,#6CA506);
    cursor: pointer;
    width: 250px;
   }
   #btnActivite1, #btnActivite2, #btnActivite3{
    border-style: none;
    padding: 5px;
    background-color: #ffc200;
    background-image: linear-gradient(to bottom,#f57C00,#f57C00);
    font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
    font-size: 10pt;
    color: white;
    font-weight: bold;
       
   }
   .next{
       
    color: #E50043;
    font-style: italic;
    cursor: pointer;
    float: right;
   }
   
</style>
<style>
.loader {
  display: none;
  border: 8px solid #f57b00;
  border-radius: 50%;
  border-top: 8px solid #ffc200;
  border-bottom: 8px solid #ffc200;
  width: 8px;
  height: 8px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
 
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
    <link rel="stylesheet"  href="{{ asset('bundles/Api/css/bootstrap.css') }}" />

   <link rel="stylesheet"  href="{{ asset('bundles/Api/css/themes/jquery-ui-1.10.0.custom.css') }}" />
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>

  $( document ).ready(function() {
      
      
     $('.ext').click(function (e) {
 e.preventDefault();
 //$('a[href="#quoi"]').tab('show');
 //console.log( $('a[href="' + $(this).attr('href') + '"]').tab('show'));
        $('a[href="' + $(this).attr('href') + '"]').tab('show');
}) 
      

      $('#apibundle_search_activity, #test, #btnActivite2, #btnActivite3').hide();
     $('#btnActivite1').click(function(){
        $('#apibundle_search_activity').show();
     } );
       $('#btnActivite2').click(function(){
           $('#apibundle_search_activity').hide();
             $('#test').show();
});  


  $('#btnActivite3').click(function(){
           $('#btnActivite1,#btnActivite2').hide();
            $('#test').hide();
             $('#apibundle_search_activity').show();
              $count = 1;
                $('.activite').val('');    
                $('#nomActivite').html("");
});  







        $('#search_page').click(function(e) {
          e.preventDefault();
          $form = $('.myform');
          $form.submit();

      });

     
      
      
      
      function search(elem)
      {
          
          $form = $('.myform');
         $('#load2').show(); //cacher l'icone de loading
         $('#tabs-2').click();
        $.ajax({
    url : "{{path('api_homepage')}}",
    type: 'post',
    data : $form.serialize(),
    dataType: "json",
    success: function(data) {
 $('#load2').hide();
     if( $.isEmptyObject(data)) {
    $('#nombre').html('0');
    $('#search_page').hide();
          $('#liste').html('pas de resultats');
     } else {//il y a de resultats

$('#search_page').show();
if($('#apibundle_search_siret').val() != '')
{
    var raison_sociale = data.etablissement.raison_sociale;
    var adresse = data.etablissement.adresse;
      $('#desc').html('<p>'+raison_sociale+'<br>'+adresse+'<p>');
}
if($('#apibundle_search_siret').val() == '') {
    $('#desc').html('');
}


     var dispo = data.dispositifs;
     var nombre = dispo.length;
     var item ='';

     console.log(nombre);
        //var route =
        $('#nombre').html(nombre);
     }
    }//end succes
    ,
     error: function (xhr, ajaxOptions, thrownError) {
    $('#load2').hide();
       }
  });

      
      }//ed sea
     $('.search_bouton').click(function(){ search($(this));});
             $('#apibundle_search_departement, #apibundle_search_domaine, #apibundle_search_fliliere, #apibundle_search_moyen').click(function(e) {
          e.preventDefault();
         search($(this));

      });
    $("#tabs").tab();

var $count = 1;
index2 = "";
index3= "";
index4= "";
index5= "";
index6= "";
$('#test').hide();
   $('#apibundle_search_activity, #test').change(function() {
       $('.activite').val($(this).val());
       var idselect = $(this).attr('id');
       $libel_1 = $('#'+idselect+' option:selected').text();
       $libel_2 = $libel_1.split(" - ");
       
        if(idselect  == 'apibundle_search_activity') {
             $('#nomActivite').html($libel_2[1]);
        } else {
             $('#nomActivite').html($libel_1);
        }
        
       
       
 $('#load1').show();
$('#codeactiv').val($(this).val())     

$count++;
  if($count>=6){
    $count =6;
      }
  // Simulate form data, but only include the selected sport value.
  if($count ==2){
    index2 = $(this).prop('selectedIndex')-1;
  }
  if($count ==3){
    index3 = $(this).prop('selectedIndex')-1;
  }
  if($count ==4){
    index4 = $(this).prop('selectedIndex')-1;
  }
  if($count==5){
     index5= $(this).prop('selectedIndex')-1;
  }
  if($count>=6){
     index6= $(this).prop('selectedIndex')-1;
     $('#btnActivite1,#btnActivite2').hide();
      $('#btnActivite3').show();
   
  }

  var data = {};
            data['activite'] = $(this).val();
            data['index2'] = index2;
            data['index3'] = index3;
            data['index4'] = index4;
            data['index5'] = index5;
              data['index6'] = index6;
            data['count'] = $count;

  // Submit data via AJAX to the form's action path.
  $.ajax({
    url : "{{path('api_niveau_activite')}}",
    type: 'post',
    data : data,
    dataType: "json",
    success: function(data) {
       $('#load1').hide();
      //console.log(html);
     var selectNiv='<option>choisir une activite</option>';

     $.each(data,function(i,el){
            //console.log( el.libelle  );
           selectNiv +='<option value='+el.code+'>'+ el.libelle  +'</option>';
        });

      //selectNiv1+='</select>';
      $('#test').html(selectNiv).show();
      $('#apibundle_search_activity').hide();
 $('#apibundle_search_activity, #test').hide();
 $('#btnActivite1').hide();
  $('#btnActivite3').hide();
  $('#btnActivite2').show();
 //$('#niveau').val( parseInt($('#niveau').val()) + 1);

    }//end succes
    ,
              error: function (xhr, ajaxOptions, thrownError) {
    $('#load1').hide();
     $('#test').hide();
       }
  });

   });
  } );
  </script>
