
<div id="intro">{{liste.dispositifs|length}}  aides répondent à votre recherche </div>

<div>
  
    
</div>
<div>
<table id="jqGrid" class="table table-striped table-bordered" cellspacing="0" >
    <thead><tr >
            <td>Fiche</td>
            <td>Url</td>
          
        </tr>
    </thead>
    {% for dispo in (liste.dispositifs) %}
        <tr>
            <th>  {{dispo.nom}}<span class="organisme">{{dispo.sigle}}</span></th><th>  <a href="{{path ('api_fiche',{'idr': liste.idr ,'dispositif': dispo.numero  } )}}" > Voir</a> </th>
     
        </tr>
    {% endfor %}
</table>
</div>

<link rel="stylesheet"  href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.jqueryui.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
  <style>
    #left-bar{  width: 25%;
    display: table-cell;
    padding: 20px 0px;
    vertical-align: top;
    }
    .organisme{
        color: #f57b00;
    font-weight: bold;
    }
    #intro{
    font-size: 20pt;
    color: #ffc200;
    font-family: Aller,Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    text-align: center;
    padding: 20px 20px 10px 20px;
    margin: 0px;
   }
   th{
       text-align: left;
   }
  </style>
  <script>
      
      $(document).ready(function() {
    $('#jqGrid').DataTable();
    /* Add a select menu for each TH element in the table footer */
     
} );

 
  </script>