{% extends '::base.html.twig' %}
{% block title %}
{{ parent()}} | DataConnect
{% endblock %}
    {% block header %}
        {{ parent()}}
        {% endblock%}
        {% block body %}
{% block container %}
<link rel="stylesheet"  href="{{ asset('bundles/DataConnect/css/bootstrap.css') }}" />
<link rel="stylesheet"  href="{{ asset('bundles/DataConnect/css/bootstrap-datepicker.css') }}" />

{{ form_start(searchForm)}}
<input type="hidden" name="date" class="date" value="{{mois}}-{{year}}">
<!--
<div class="form-group row" >
<label class="col-md-4" >Avez vous votre User Api</label>

<label class="col-md-6">
 <INPUT type= "radio" name="question" value="oui" id="oui"> oui
<INPUT type= "radio" name="question" value="non" id="non"> non
</label>
</div>

<div class="form-group row" id="company">
    {#{ form_label(searchForm.user, 'Votre Code Company ', {'label_attr':{class:'col-md-4'} }) }}
    {#{ form_widget(searchForm.user, {'attr':{class:'col-md-6 code_company'} }) }}
</div>

 <div class="form-group row" id="user" style="display:none">
    {{ form_label(searchForm.userApi, 'ou votre User API ', {'label_attr':{class:'col-md-4'} }) }}
    {{ form_widget(searchForm.userApi, {'attr':{class:'col-md-6 code_company'} }) }#}
</div>
-->
<div class="form-group row" id="folder">
    {{ form_label(searchForm.code_folder, 'Code Dossier ', {'label_attr':{class:'col-md-4'} }) }}
    {{ form_widget(searchForm.code_folder, {'attr':{class:'col-md-6 code_folder'} }) }}
</div>
<!--
<div class="form-group row" id="clef" style="display:none">
    {{ form_label(searchForm.cle, 'Clés API ', {'label_attr':{class:'col-md-4'} }) }}
    {{ form_widget(searchForm.cle, {'attr':{class:'col-md-6'} }) }}
</div> 
-->
<div class="form-group row"> 

{{ form_label(searchForm.month, 'Month ', {'label_attr':{class:'col-md-4', for:'startDate'} }) }}
{{ form_widget(searchForm.month, {'attr':{class:'date-picker col-md-6',name:'startDate', id:'startDate'} }) }}
</div> 
<div class="form-group row"> 

{{ form_label(searchForm.writingType, "Type d'écriture ", {'label_attr':{class:'col-md-4', for:'writingType'} }) }}
{{ form_widget(searchForm.writingType, {'attr':{class:'col-md-6',name:'writingType'} }) }}
</div> 

<div class="form-group row"> 
   {% if is_granted('ROLE_ADMIN')%}
{{ form_label(searchForm.api, 'API ', {'label_attr':{class:'col-md-4'} }) }}
{{ form_widget(searchForm.api, {'attr':{class:'col-md-6'} }) }}
{% endif %}
</div> 
   


<div class="form-group row">
    {{form_widget(searchForm.save,{'attr':{'class':'btn btn-danger'}})}} </div>
            {{ form_end(searchForm, {'render_rest': false}) }}
{% if message is defined and message|length > 0 %} 
    <div class="form-group row" id="resultat" style="color: red">
    {{message}}
    </div>
    {% endif %}

    <div class="form-group row" id="resultat">
     <!--{#% if response is defined and response|length > 0 %}  
    Journal mensuel:
    <a style="color: red" download="telcharger" target="_blanc" type="application/octet-stream" href="{{asset('http://dataconnect.pmeti.hosting/'~response[1])}}" data="{{response[1]}}" class="attachment">Telecharger le fichier </a>
	    {% endif %#}-->
                {% if fileZip is defined and fileZip != "" %}  		
      Fichiers .zip: 
		<a style="color: red" download  href="{{asset('http://dataconnect.pmeti.hosting/'~fileZip)}}" data="{{fileZip}}" class="attachment">Télécharger le fichier </a>
	  {% endif %}	
	</div>

	
    
<!--
    {% if attachments is defined and attachments|length > 0 %}  
        
        
    <div class="form-group row" id="resultat">
        Liste des attachments
    <ul>
        {% for attachment in attachments %}  
             
             {% if attachment.updated_at|date('Y') == year and attachment.updated_at|date('m') == mois %}
            <li><a style="color: red" download="telcharger"  target="_blanc" href="https://erp.fabereo.com/attachments/{{attachment.public_key}}" data="{{attachment.name}}" class="attachment">{{attachment.name}}
                </a></li>
{% endif%}
            {% endfor%}    
    </ul>

   {# <a href="D:/{{namePdf}}.pdf">Télécharger les piéces jointrs</a>#}
 </div>
    
{% endif%}-->
{# <a href="D:\facture.pdf" target="__blanc">Télécharger les piéces jointrs 2222</a>#}




<style>
    .ui-datepicker-calendar {
    display: none;
    }
    @import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Merriweather);
$red: #e74c3c;

*, 
*:before, 
*:after {
   @include box-sizing(border-box); 
}
/*
html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}
*/
h1 {
   text-align: center;
   color: #a8a8a8;
   @include text-shadow(1px 1px 0 rgba(white, 1));
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
  
  input, textarea {
     border:0; outline:0;
     padding: 1em;
     @include border-radius(8px);
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     @include box-shadow(0 1px 1px rgba(black, 0.1));
     resize: none;
    
    &:focus {
       @include box-shadow(0 0px 2px rgba($red, 1)!important);
    }
  }
  
  #input-submit {
     color: white; 
     background: $red;
     cursor: pointer;
    
    &:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
    }
  }
  
  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
#resultat{max-width: 500px;
    
    margin: 20px auto;}

 /* Loading style */   
 .loading{
    float: right;
    margin-right: 70px;
    width:30px;
    height: 30px;
    display: block;
    background:url('{{asset('asset/img/loading.gif')}}');
        
}  
</style>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css" />
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="{{asset('asset/js/app.js')}}"></script>
<script>
$(document).ready(function () {
    console.log( "ready!" );
    
    var queryDate = '2009-11-01',
    dateParts = queryDate.match(/(\d+)/g)
    realDate = new Date(dateParts[0], dateParts[1] - 1, dateParts[2]);  
                                    // months are 0-based!

    $('#dataconnectbundle_search_month').datepicker({
        dateFormat: "yy-mm"
    }) // format to show
    .datepicker('setDate', realDate)
    .datepicker("option", "changeMonth", true)
    .datepicker("option", "changeYear", true)
    .datepicker("option", "showButtonPanel", true)
    .datepicker("option", "onClose", function(e){
         var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
         var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
         $(this).datepicker("setDate",new Date(year,month,1));
})
$('.attachment').click(function (e){
    
var data = {};
            data['date'] = $('.date').val();
             data['fichier'] = $(this).attr('data');
            // console.log( $('.date').val() );
            console.log( $(this).text() );
 $.ajax({
                //beforeSend:function() { alert('toto') },
                url: "{#{path('data_connect_log_attachment')}#}",
                type: 'get',
                data: data,
                dataType: "json",
                
                success: function (data) {
                   
                    // $('.date').show();
                   
                }//end succes
                ,
              //  error: function(data) { alert('ERROR') }
            }); //end ajax
            })
            
 $('#oui').click(function () {
           console.log( "mahassen!" );
            $("#company").hide();
            $("#user").show();
            $("#clef").show();
        });
        $('#non').click(function () {
           console.log( "rahhal!" );
            $("#company").show();
            $("#user").hide();
            $("#clef").hide();
        });
            
    })    
    
  
</script>

{% endblock %}

{% endblock%}