{% extends '::base.html.twig' %}
{% block title %}
{{ parent()}} | Liste des Logs
{% endblock %}
    {% block header %}
        {{ parent()}}
        {% endblock%}
        {% block body %}

    <table id="jqGrid" class="table table-striped table-bordered" cellspacing="0" >
        <thead><tr  >
        <th class="col-md-3" >  Utilisateur</th>
        <th class="col-md-3">   Date </th>
       <th class="col-md-3"> Type </th>
       <th class="col-md-3" >Description</th>
         <th class="col-md-3" >Code de retour</th>
       </tr>
        </thead>
         <tbody>
{% for log in logs %}
   
        <tr>
        <th>   {{ log.user }}</th>
        <th>   {{log.date|date('Y-m-d H:i:s') }}</th>
        <th> {{ log.type }} </th>
        <th>{{ log.description }}</th>
         <th>{{ log.coderetour }}</th>
        </tr>
    
    {% endfor %}
    </tbody>
    </table>
   

    
<link rel="stylesheet"  href="{{ asset('bundles/Api/css/bootstrap.min.css') }}" />
<link rel="stylesheet"  href="{{ asset('bundles/Api/css/dataTables.bootstrap.min.css') }}" />
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="{{ asset('bundles/Api/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/Api/js/dataTables.bootstrap.min.js') }}"></script>

 <script>
   /* $.extend(true, $.fn.dataTable.defaults, {
        "searching": true,
        "ordering": true,
        "dom": '<"top">rt<"bottom"flp><"clear">',
        aLengthMenu : [5, 10, 15,20]
    }); */
     $(document).ready(function () {
     $('#jqGrid').DataTable();
     });
  //  var dataTable = $('#jqGrid').dataTable({"sPaginationType": "full_numbers"});

  
</script>
{% endblock%}
