{% extends '::base.html.twig' %}
{% block title %}
{{ parent()}} | Liste des Logs
{% endblock %}
    {% block header %}
        {{ parent()}}
        {% endblock%}
        {% block body %}

<link rel="stylesheet"  href="{{ asset('bundles/DataConnect/css/bootstrap.css') }}" />
<link rel="stylesheet"  href="{{ asset('bundles/DataConnect/css/bootstrap-datepicker.css') }}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css" />
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>


{#{form(userForm)}#}

{% if app.session.flashBag.has('notice')%}
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                {%for msg in app.session.flashBag.get('notice')%}
                    {{msg}}
                    {%endfor%}
            </div>
            {%endif%}
{% if app.session.flashBag.has('error')%}
<div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {%for msg in app.session.flashBag.get('error')%}
        {{msg}}
        {%endfor%}
</div>
{%endif%}            
             <form method="post" class='col-md-6' {{form_enctype(userForm)}}>
                 <div class="form-group " >
                     <label for="login">{{form_label(userForm.login)}}</label>
                {{form_widget(userForm.login,{'attr':{'class':'form-control'}})}}
                 </div>
                   <div class="form-group " >
                     <label for="email">{{form_label(userForm.email)}}</label>
                {{form_widget(userForm.email,{'attr':{'class':'form-control'}})}}
                 </div>
                   <div class="form-group " >
                     <label for="password">{{form_label(userForm.password)}}</label>
                {{form_widget(userForm.password,{'attr':{'class':'form-control'}})}}
                 </div>
                   <div class="form-group " >
                     <label for="role">{{form_label(userForm.role)}}</label>
                {{form_widget(userForm.role,{'attr':{'class':'form-control'}})}}
                 </div>
              <!--   <div class="form-group" >
                 <label>Avez vous le code Company</label>
                 <INPUT type= "radio" name="isCompany" value="oui" id="oui"> Oui
                <INPUT type= "radio" name="isCompany" value="non" id="non" checked> Non
                </div>-->
                 <div class="form-group">
                     
                    <ul class="tags" data-prototype="{{ form_widget(userForm.company.vars.prototype)|e}}">
                       {% for tag in userForm.company %}
                        <li>{{ form_widget(tag.haveCodeCompany) }}</li>
                        <br/> <br/>
                        <li>{{ form_widget(tag.codeCompany) }}</li>
                        <li>{{ form_widget(tag.userApi) }}</li>
                        <li>{{ form_widget(tag.apiKey) }}</li>
                        <li>{{ form_widget(tag.codeFolder) }}</li>
                        <li>{{ form_widget(tag.liveMode) }}</li>
                    {% endfor %}
                    </ul>
                  </div>
                 <div class="form-group span4" >
                     <div class="msg-error"></div>
                 </div>
            {{form_widget(userForm.save,{'attr':{'class':'btn btn-danger'}})}}
            {{form_rest(userForm)}}
        </form>


<style>
 
.itemRadio {
	display: inline-block;
	width: 100px;
       /* padding: 4px;
	margin-right: 20px;*/
	vertical-align: top;
	text-align: right;
}
input[type="radio"]{
    margin: 5px;
}
/*
li {
   padding: 5px;
}*/
</style>
{% endblock%}
{% block javascriptsbottom %}
    <script>
var $collectionHolder;

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_tag_link" style="color:#337ab7 !important; margin-top:12px">Ajouter un dossier</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.tags');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm($collectionHolder, $newLinkLi);
    }); 
    
         // check 
    $('form').submit(function (e)
    {
        var arr = [];
        var elt = e;
        var submit = true;
        $collectionHolder.find(':input[name*="codeFolder"]').each(function() {
            arr.push($(this).val());
        });
        $('.msg-error').empty();
        if(chkDuplicates(arr, true)){
             $('.msg-error').append('<div class="alert alert-danger">'+
                                              'Code dossier doit être UNIQUE.'+
                                            '</div>');                                      
             submit = false;
        }
       /* else
        {
            for(i=0; i < arr.length; i++)
            {
            //arr.forEach(function(element, elt) {

                $('.msg-error').empty();          
                  ret = isExistCodeFolder(arr[i]);
                  if(ret.responseJSON.existed === true)
                  {
                      $('.msg-error').append('<div class="alert alert-danger">'+
                                              'Code dossier <strong>'+arr[i]+'</strong> exist déjà.'+
                                            '</div>');                                      
                       submit = false;
                       break;
                  }
            }
           //  });
              
        }*/
        return submit;
    });	
    
});

// hide form
//function hideTagForm($collectionHolder, $newLinkLi) 
function hideTagForm($tagFormLi, index) 
{
   var d =  $tagFormLi.find('div').attr('id', 'dataconnectbundle_user_type_company_'+index);
   d.nextAll().hide();
   var delItem = $('#del_'+index).show();
   d.find('input:radio').change(function(e) { 
       e.preventDefault();
       if($(this).val() === '0')
       {
           d.next().hide();
           d.next().next().show();
           d.next().next().next().show();
           d.next().next().next().next().show();
           delItem.show();
           return;
       }
       if($(this).val() === '1')
       {
           d.next().show();
           d.next().next().hide();
           d.next().next().next().hide();
           d.next().next().next().next().show();
       }
   });
       
    //$collectionHolder.hide();
}

function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    
     // add a delete link to the new form
    addTagFormDeleteLink($newFormLi, index + 1);
    
    //hide elements
    hideTagForm($newFormLi, index + 1);
}

function addTagFormDeleteLink($tagFormLi, index) {
    var $removeFormA = $('<a href="#" style="color:#337ab7 !important" id="del_'+index+'">Supprimer cet dossier</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

function isExistCodeFolder(folder)
{
      return  $.ajax({
              type:'GET',
              async:false,
              url: '/symfony28/web/app_dev.php/exist/folder/'+{{app.user.id}}+'/'+ folder,
              success: function(data)
              {
                  return data;
              }
        });
}

function chkDuplicates(arr,justCheck){
  var len = arr.length, tmp = {}, arrtmp = arr.slice(), dupes = [];
  arrtmp.sort();
  while(len--){
   var val = arrtmp[len];
   if (/nul|nan|infini/i.test(String(val))){
     val = String(val);
    }
    if (tmp[JSON.stringify(val)]){
       if (justCheck) {return true;}
       dupes.push(val);
    }
    tmp[JSON.stringify(val)] = true;
  }
  return justCheck ? false : dupes.length ? dupes : null;
}
    </script>
{% endblock %}