

    <div class="separator"></div>
  
          
            {% for attachment in attachments %}
                {#% if attachment['mime_type'] != 'image/jpeg' %}
                    <a href="https://erp.fabereo.com/attachments/{{attachment['public_key']}}&embedded=true"></iframe>
                 {% else %#}
                        <img src="https://erp.fabereo.com/attachments/{{attachment['public_key']}}"    />
         {# <img src="./uploads/images/logo-fabereo-final.png" width="200" height="200"  />#}
                {#% endif %#}
            {% endfor%}