{% extends '::base.html.twig' %}
{% block title %}
{{ parent()}} | Liste des fichiers
{% endblock %}
    {% block header %}
        {{ parent()}}
        {% endblock%}
 {% block body %}
{% block container %}

<div class ="container">
    <div class="row">
        <div class="col-md-6">
          <ul id="browser" class="filetree">
              
                  {% for key,values in files %}

                        <li><span class="folder">{{key}}</span>
                            
                                <ul>
                                    {% for key,values in values %}
                                        <li><span class="folder">{{key}}</span>
                                              <ul>
                                                 {% for key,values in values %}
                                                <li><span class="folder">{{key}}</span>
                                                      <ul>
                                                          {% for key,values in values %}
                                                            <li><span class="folder">{{key}}</span>
                                                                  <ul>
                                                                       {% for key,values in values %}
                                                                           <li><span class="folder">{{key}}</span>
                                                                               <ul>
                                                                                   {% for key,values in values %}
                                                                                       <li><a href="{{values}}" download><span class="file">{{key}}</span></a></li>
                                                                                   {% endfor %}
                                                                               </ul>
                                                                           </li>
                                                                            
                                                                      {% endfor %}
                                                                  </ul>
                                                            </li>
                                                        {% endfor %}
                                                      </ul>
                                                </li>
                                            {% endfor %} 
                                              </ul>
                                        </li>
                                    {% endfor %}  
                                </ul>
                        </li>                        
                        
                   {% endfor %}                             
	</ul>
	
	     
    </div>
</div>
<link rel="stylesheet" href="{{ asset('bundles/jstree/css/jquery.treeview.css') }}" />
<!--<link rel="stylesheet" href="{{ asset('bundles/jstree/css/screen.css') }}" />-->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ asset('bundles/jstree/js/jquery.cookie.js') }}"></script>
<script src="{{ asset('bundles/jstree/js/jquery.treeview.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/jstree/js/demo.js') }}"></script>
{% endblock %}
{% endblock %}