<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('asset/img/favicon_FABEREO_160722.png')}}" />
        {% block stylesheets %}
        <link rel="stylesheet"  href="{{ asset('bundles/formationAnnonce/css/bootstrap.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <!--<a href="#"><img style="display: inline-block; height: 35px; margin-top: -5px" width="90" height="35" src="{#{ asset('asset/img/logo-fabereo.png')}#}"></a>-->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
        <div class="navbar-header">
                <a class="navbar-brand" href="#"><img style="height: 30px; margin-top: -5px" width="90" height="35" src="{{ asset('asset/img/logo-fabereo.png')}}"></a>
            </div>
            <div>
                {% if app.user %}
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown"><a  href="{{path('data_connect_homepage')}}">CEGID Prod Export </a>
                  
                </li>
                <li>{% if is_granted('ROLE_ADMIN')%}
                     <a href="{{path('data_connect_lister')}}">Gestion des Logs</a>
                    {% endif %}</li>
                <li>{% if is_granted('ROLE_ADMIN')%}
                     <a href="{{path('data_connect_lister_user')}}">Gestion des Utilisateurs</a>
                    {% endif %}</li>
                  {%if app.user.username is defined %}
              
                  <li class="navbar-right"  class="dropdown"><a class="dropdown-toggle" 
				data-toggle="dropdown" href="#"> Bienvenue {{app.user.username|upper}}</a>
                  <ul class="dropdown-menu">
                 <!--   <li> <a href="{#{path('fos_user_profile_edit')}#}">Modifier mon profile </a></li>-->
                     <li> <a href="{{path('data_connect_edit_user', {'id': app.user.id})}}">Modifier mon profil </a></li>
                    <li> <a href="{{path('fos_user_change_password')}}">Modifier mon Mot de passe </a> </li>
                     <li> <a href="{{path('fos_user_security_logout')}}">Déconnexion </a> </li>
                    
                </ul>
                     </li>
              {%endif%}
              </ul>
               {% endif %}
            </div>
          </div>
            
        </nav>
        {% endblock %}
                <div class="container">
            <div class="row">
        {% block body %}
            
        {% endblock %}
        {% block footer %}
        </div>
        </div>
        	<hr />

	<footer id="footer" class="vspace20">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <p>&copy; Copyright 2017</p>
                </div>
            </div>
	</footer>
        {% endblock %}
        {% block javascripts %}
                  
        <script src="{{asset('bundles/WorkflowBundle/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('bundles/WorkflowBundle/js/jquery.customSelect.js')}}"></script>
        <script src="{{asset('bundles/WorkflowBundle/js/jquery.customSelect.min.js')}}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>        
        
        {% endblock %}
        {% block javascriptsbottom %}{% endblock %}
    </body>
</html>
