{% extends "::base.html.twig" %}
{% block title %}
{{ parent()}} | Liste des Utilisateurs
{% endblock %}
    {% block header %}
        {{ parent()}}
        {% endblock%}
        {% block body %}
{% block container %}
    <link rel="stylesheet"  href="{{ asset('bundles/Api/css/bootstrap.min.css') }}" />
<link rel="stylesheet"  href="{{ asset('bundles/Api/css/dataTables.bootstrap.min.css') }}" />
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="{{ asset('bundles/Api/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/Api/js/dataTables.bootstrap.min.js') }}"></script>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

       <div class ="container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
       



   {%endblock%} 
   {%endblock%} 
   