{% extends '::base.html.twig' %}
{% block title %}
{{ parent()}} | Liste des Utilisateurs
{% endblock %}
    {% block header %}
        {{ parent()}}
        {% endblock%}
        {% block body %}
{% block container %}

<div class ="container">
    <div class="row">
        <div class="col-md-6">
<ul>

    <table id="jqGrid" class="table table-striped table-bordered" cellspacing="0" >
        <thead><tr  >
        <th class="col-md-3" >  Utilisateur</th>
        <th class="col-md-3">   Login </th>
       <th class="col-md-3"> Mot de passe </th>
       <th class="col-md-3" >Email</th>
         <th class="col-md-3" >Role</th>
       </tr>
        </thead>
         
{% for user in users %}
  
        <tr>
        <th>   {{ user.username|e }}</th>
        <th>   {{user.username}}</th>
        <th> {{ user.password }} </th>
        <th>{{ user.email }}</th>
         <th>{% for role in user.roles %} {{role}} {% endfor %}</th>
        </tr>
    
    {% endfor %}
    </table>
      <a href="{{path ('data_connect_add_user' )}}" class="btn btn-danger"><span class ="">Add User</span> </a> 
   
   

    
<link rel="stylesheet"  href="{{ asset('bundles/Api/css/bootstrap.min.css') }}" />
<link rel="stylesheet"  href="{{ asset('bundles/Api/css/dataTables.bootstrap.min.css') }}" />
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="{{ asset('bundles/Api/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/Api/js/dataTables.bootstrap.min.js') }}"></script>


 
                
            </div>
    </div>

{% endblock %}
 <script>
   /* $.extend(true, $.fn.dataTable.defaults, {
        "searching": true,
        "ordering": true,
        "dom": '<"top">rt<"bottom"flp><"clear">',
        aLengthMenu : [5, 10, 15,20]
    }); */
     $(document).ready(function () {
     $('#jqGrid').DataTable();
     });
  //  var dataTable = $('#jqGrid').dataTable({"sPaginationType": "full_numbers"});

  
</script>
{% endblock%}
