{% extends '::base.html.twig' %}
{% block title %}
{{ parent()}} | Liste des Logs
{% endblock %}
    {% block header %}
        {{ parent()}}
        {% endblock%}
        {% block body %}
{% block container %}
<link rel="stylesheet"  href="{{ asset('bundles/DataConnect/css/bootstrap.css') }}" />
<link rel="stylesheet"  href="{{ asset('bundles/DataConnect/css/bootstrap-datepicker.css') }}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css" />
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>


{#{form(userForm)}#}
{% if app.session.flashBag.has('success')%}
            <div class="alert alert-success">
                {%for msg in app.session.flashBag.get('success')%}
                    {{msg}}
                    {%endfor%}
            </div>
            {%endif%}
             <form method="post" class='col-md-6' {{form_enctype(userForm)}}>
                 <div class="form-group " >
                     <label for="login">{{form_label(userForm.login)}}</label>
                {{form_widget(userForm.login,{'attr':{'class':'form-control'}})}}
                 </div>
                   <div class="form-group " >
                     <label for="email">{{form_label(userForm.email)}}</label>
                {{form_widget(userForm.email,{'attr':{'class':'form-control'}})}}
                 </div>
                   <div class="form-group " >
                     <label for="password">{{form_label(userForm.password)}}</label>
                {{form_widget(userForm.password,{'attr':{'class':'form-control'}})}}
                 </div>
                   <div class="form-group " >
                     <label for="role">{{form_label(userForm.role)}}</label>
                {{form_widget(userForm.role,{'attr':{'class':'form-control'}})}}
                 </div>
 
            {{form_widget(userForm.save,{'attr':{'class':'btn btn-danger'}})}}
            {{form_rest(userForm)}}
        </form>

{% endblock %}

{% endblock%}