{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forme in formes %}
            <tr>
                <td><a href="{{ path('forme_show', { 'id': forme.id }) }}">{{ forme.id }}</a></td>
                <td>{{ forme.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('forme_show', { 'id': forme.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('forme_edit', { 'id': forme.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('forme_new') }}">Create a new forme</a>
        </li>
    </ul>
{% endblock %}
