<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet"  href="{{ asset('bundles/formationAnnonce/css/bootstrap.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Mon Site</a>
            </div>
            <div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown"><a  href="{{path('data_connect_homepage')}}">DataConnect </a>
                  
                </li>
                <li>{#%if is_granted('ROLE_ADMIN')%#}<a href="{{path('data_connect_lister')}}">Gestion des Logs</a> {#%endif%#}</li>
                
               
              </ul>
                {%if app.user.username is defined %}
              <ul style="float:right;margin-top:20px" >
                  <li class="dropdown"><a class="dropdown-toggle" 
				data-toggle="dropdown" href="#"> Bienvenue {{app.user.username|upper}}</a>
                  <ul class="dropdown-menu">
                    <li> <a href="{{path('fos_user_profile_edit')}}">Modifier mon Email </a></li>
                    <li> <a href="{{path('fos_user_change_password')}}">Modifier mon Mot de passe </a> </li>
                </ul>
              </ul>
                     </li>
              {%endif%}
            </div>
          </div>
            
        </nav>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
        	<hr />

	<footer id="footer" class="vspace20">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <p>&copy; Copyright 2016</p>
                </div>
        </div>
	</footer>
        {% endblock %}
        {% block javascripts %}
        <script src="{{asset('bundles/WorkflowBundle/js/jquery-3.1.1.min.js')}}"></script>            
        <script src="{{asset('bundles/WorkflowBundle/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('bundles/WorkflowBundle/js/jquery.customSelect.js')}}"></script>
        <script src="{{asset('bundles/WorkflowBundle/js/jquery.customSelect.min.js')}}"></script>
        {% endblock %}
        {% block javascriptsbottom %}{% endblock %}
    </body>
</html>
