<div class="span3">
    <div class="well">
                <ul class="nav nav-list">
                    <li>
                        <a href="{{path('formation_annonce_lister')}}">Listes des Annonces </a>
                    </li>
                    <li>
                        <a href="{{path('formation_annonce_ajouter')}}">Ajouter un annonce </a>
                    </li>
                    <li>
                        <a href="{{path('formation_annonce_Top')}}">Meilleures Annonces </a>
                    </li>
                </ul>
                    
            </div>
                    
                    
                    
              <div class="well">
                <ul class="nav nav-list">
                    
                    <li>
                        <a href="{{path('fos_user_profile_edit')}}">Modifier mon Email </a>
                    </li>
                    <li>
                        <a href="{{path('fos_user_change_password')}}">Modifier mon Mot de passe </a>
                    </li>
                </ul>
                    
            </div>      
                    
</div>
