@CHARSET "UTF-8";#left-bar div.dialog{width:100%;margin-bottom:17px;}
#left-bar div.dialog h1{background-color:#004379;color:white;font-family:Aller,Verdana,Arial,Helvetica,sans-serif;font-weight:bold;font-size:12pt;padding:12px;margin:0px;height:44px;background-position:10px center;background-repeat:no-repeat;white-space:nowrap;}
#left-bar div.dialog h2,#left-bar div.dialog h3{color:#666666;font-family:Aller,Verdana,Arial,Helvetica,sans-serif;font-weight:normal;font-size:12pt;padding:0px;margin:5px 0px;text-align:left;}
#left-bar div.dialog.localisation h1{padding-left:52px;background-image:url("/images/icons/localisation.png");}
#left-bar div.dialog.thematique h1{padding-left:52px;background-image:url("/images/icons/thematique.png");}
#left-bar div.dialog.params h1{padding-left:52px;background-image:url("/images/icons/params.png");}
#left-bar div.dialog.filtre h1{padding-left:52px;background-image:url("/images/icons/filtre.png");}
#left-bar div.dialog.nouvelle-recherche h1{padding-left:52px;background-image:url("/images/icons/nouvelle_recherche.png");background-color:#E50043;cursor:pointer;}
#left-bar div.dialog.sauve-recherche h1,#left-bar div.dialog.sauve-dispositif h1{padding-left:52px;background-image:url("/images/icons/enregistrer-t.png");cursor:pointer;}
#left-bar div.dialog.liste h1{padding-left:52px;background-image:url("/images/icons/retour.png");cursor:pointer;}
#left-bar div.dialog.dossiers h1{padding-left:52px;background-image:url("/images/icons/enregistrer-t.png");}
#left-bar div.dialog.organismes h1{padding-left:52px;background-image:url("/images/icons/filtre.png");}
#left-bar div.dialog.contact-cci h1{padding-left:52px;background-image:url("/images/icons/info.png");cursor:pointer;}
#left-bar div.content{background-color:white;color:#666666;font-family:Arial,Helvetica,sans-serif;font-size:10pt;padding:10px;margin:0px;border:1px solid #CCCCCC;border-top-width:0px;background-color:white;background-image:linear-gradient(to bottom,white,white,#E8E8E8);}
#left-bar div.content table{width:100%;border-spacing:0px;border-collapse:collapse;}
#left-bar div.content td{padding:0px 0px 10px 0px;}
#left-bar input[type="text"]{border:1px solid #CCCCCC;padding:4px;color:black;}
#left-bar input[type="text"].wide{-width:253px;}
#left-bar select,#left-bar option{color:black;background-color:white;}
#left-bar select{padding:4px;border:1px solid #CCCCCC;}
#left-bar select:DISABLED,input[type=text]:DISABLED{background-color:#E8E8E8;}
#left-bar select option.disable{color:#666666;}
#left-bar div.content div.limit{max-height:70px;margin:5px 0px;overflow:hidden;font-size:8pt;}
#left-bar div.content div.limit p{margin:2px 0px;text-overflow:ellipsis;}
#left-bar div.content div.limit ul{margin:2px 0px;padding-left:20px;}
#left-bar div.content div.limit li{text-overflow:ellipsis;}
#left-bar div.content div.suite,#left-bar div.content div.suite a{color:#666666;font-weight:bold;cursor:pointer;}
#left-bar div.content div.suite:hover,#left-bar div.content div.suite a:hover{text-decoration:underline;}
#left-bar div.content td.sep{font-family:Aller,Verdana,Arial,Helvetica,sans-serif;font-weight:bold;font-size:10pt;color:#666666;border-top:1px solid #666666;padding:2px 0px 2px 0px;}
#left-bar div.content table.pdf-dossier{font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:10pt;color:#004379;border-spacing:0px;border-collapse:collapse;}
#left-bar div.content table.pdf-dossier td{padding:5px;}
#left-bar div.content table.pdf-dossier a.no{color:#004379;}
.ui-autocomplete{max-height:200px;overflow-y:auto;overflow-x:hidden;}
.ui-menu-item .ui-state-focus{background-color:#CCCCCC;background-image:none;border-color:#CCCCCC;}
#commune-comment{display:none;position:absolute;z-index:9;background-color:white;background-image:linear-gradient(to bottom,white,white,#E8E8E8);border:1px solid #CCCCCC;color:black;font-family:Arial,Helvetica,sans-serif;font-size:10pt;padding:17px;box-shadow:5px 5px 10px #666666;}
#commune-comment h2{color:#666666;font-family:Aller,Verdana,Arial,Helvetica,sans-serif;font-weight:normal;font-size:16pt;padding:0px;margin:0px 0px 15px 0px;}
#commune-comment div.suite{display:none;}
#commune-comment div.close{position:relative;float:right;z-index:10;width:16px;height:16px;background-image:url("/images/icons/close-cross.png");background-repeat:no-repeat;cursor:pointer;}
#commune-comment p{margin:10px 0px;}
#commune-comment div > ul{margin:10px 0px;padding-left:20px;}
#commune-comment div > ul > li{list-style-image:url("/images/puce.png");}
#commune-comment div > ul > ul,#commune-comment div > ul > li > ul{margin:0px;padding-left:20px;}
#commune-comment div > ul > ul > li,#commune-comment div > ul > li > ul > li{list-style-image:url("/images/puce2.png");}
#commune-comment div > ul > ul > ul{padding-left:20px;}
#commune-comment div > ul > ul > ul > li{list-style-image:url("/images/puce2.png");}
