#top{font-family:Aller,Arial,Helvetica,sans-serif;font-size:15pt;min-height:130px;z-index:5;background-color:#004379;color:white;padding:0px;position:absolute;top:0px;left:0px;right:0px;}
#top > div.top{width:980px;margin:0px auto;}
#top td.logo{padding:20px 0px;}
#top td.tools img,#top td.follows img{cursor:pointer;}
#top td.tools table,#top td.follows table{border-collapse:collapse;}
#top td.title{display:none;font-family:Arial,Helvetica,sans-serif;font-size:18pt;font-weight:normal;}
#top .warning{font-size:15pt;}
#top h1{font-size:18pt;padding:0px 20px;}
#top div.login,#top div.menu,#top div.send-mail{width:100%;display:none;}
#top div.login table,#top div.menu table,#top div.send-mail table{width:100%;border:none;border-spacing:15px;}
#top div.login ul,#top div.menu ul{margin:0px 0px 0px 25px;padding:0px;}
#top div.login li,#top div.menu li{list-style-image:url('/images/icons/right.png');margin:0px 0px;padding:5px;}
#top div.menu li.tool-print{list-style-image:url('/images/icons/print.png');margin-left:20px;}
#top div.menu li.tool-mail{list-style-image:url('/images/icons/mail.png');margin-left:20px;}
#top div.login li:hover,#top div.menu li:hover,#top div.login li:hover a,#top div.menu li:hover a{background-color:white;color:#004379;}
#top div.menu li.hidden{display:none;}
#top div.login a,#top div.menu a{color:#EEE;}
#top div.login a:hover,#top div.login a:active,#top div.menu a:hover,#top div.menu a:active{background-color:white;color:#004379;text-decoration:none;}
#top div.menu.active a{background-color:white;color:white;text-decoration:none;}
#top div.menu table{width:100%;margin-bottom:10px;}
#top td.bl{border-left:1px solid white;white-space:nowrap;}
#top div.login p{margin:0px 0px 30px 30px;font-size:15pt;}
#top input[type=button],#top input[type=submit],#top input[type=text],#top input[type=password],#top textarea{font-family:Aller,Arial,Helvetica,sans-serif;font-size:15pt;padding:3px 8px;color:#004379;border:1px solid white;border-radius:5px;background-color:#EEE;}
#top input[type=button]:hover,#top input[type=submit]:hover,#top input[type=text]:hover,#top input[type=password]:hover,#top textarea:hover,#top input[type=button]:focus,#top input[type=submit]:focus,#top input[type=text]:focus,#top input[type=password]:focus,#top textarea:focus{background-color:white;}
#top input[type=button]:active,#top input[type=submit]:active{color:white;background-color:#004379;}
#top div.send-mail input[type=button],#top div.send-mail input[type=submit]{margin-left:15px;}
#top td.picto{display:none;width:70px;}
#top.static{position:fixed;top:0px;left:-10px;right:-10px;min-height:70px;box-shadow:0px 3px 10px #666;}
#top.static td.logo{display:none;}
#top.static td.picto{display:table-cell;}
#top.static td.title{display:table-cell;}
#top-title{font-size:17pt;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:500px;}
#status-bar{display:none;}
#search{display:none;position:absolute;z-index:6;border:1px solid #004379;background-color:white;border-radius:22px;height:45px;width:45px;background-image:url("/images/icons/follow_recherche_bg.png");background-position:center right;background-repeat:no-repeat;}
#search input[type=text]{display:none;border:none;width:380px;color:#004379;margin:12px 0px 0px 20px;}
#dither-screen{display:none;position:fixed;z-index:4;background-color:black;opacity:0.2;top:0px;bottom:0px;width:100%;height:100%;}
