{% extends '::base.html.twig' %}

{% block body %}
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Nombre Etapes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('categories_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>
                    
               <img src="{{ asset('uploads/images/' ~ category.image) }}" width='100' height='100'/>     
                    
                    {{ category.name }}</td>
                <td>{{ category.numberEtape }}</td>
                <td>
                    <ul>
                        
                            <a href="{{ path('categories_show', { 'id': category.id }) }}" class="btn btn-primary" ><span class ="glyphicon glyphicon-adjust"></span>voir</a>
                        
                            <a href="{{ path('categories_edit', { 'id': category.id }) }}" class="btn btn-primary" ><span class ="glyphicon glyphicon-pencil"></span> Modifier</a>
                           <a href="{{ path('question_show', { 'id': category.id }) }}" class="btn btn-primary" ><span class ="glyphicon glyphicon-pencil"></span> Choisir</a>
                          
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categories_new') }}" class="btn-primary"><span class ="glyphicon glyphicon-plus"></span>Ajouter</a>
        </li>
    </ul>
{% endblock %}
