{% block title %}
{{ parent()}} | ajout
{% endblock %}
    {% block header %}
        {{ parent()}}
        {% endblock%}
{% block body %}
    <div class="container">
    <h1>Nouvelle Categorie</h1>

    <form method="post" class='col-md-6' {{form_enctype(form)}}>
        
            <div class="form-group">
                <label for="name">{{form_label(form.name)}}</label>
                {{form_widget(form.name,{'attr':{'class':'form-control'}})}}
            </div>
             <div class="form-group">
                <label for="numbre Etape">{{form_label(form.numberEtape)}}</label>
                {{form_widget(form.numberEtape,{'attr':{'class':'form-control'}})}}
            </div>
             <div class="form-group">
                <label for="image">{{form_label(form.image)}}</label>
                {{form_widget(form.image,{'attr':{'class':'form-control'}})}}
            </div>
            <div>
        <input type="submit" value="Ajouter" />
    <a href="{{ path('categories_index') }}">Retour</a>
            </div>
    </form>
    
    </div>  
{% endblock %}
{% block footer %}
{{ parent()}} 
{% endblock %}
