{% extends '::base.html.twig' %}
{% block title %}
{{ parent()}} | show
{% endblock %}
    {% block header %}
       {{ parent()}}
        {% endblock%}
{% block body %}
    
    <div class="container" id="engine" style="width: 980px; display:block">

 
 {%if is_granted('ROLE_ADMIN')%}
       
    <table>
        <tbody>
            <tr>
                <th>Numéro</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Nombre Etapes</th>
                <td>{{ category.numberEtape }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
            <a href="{{ path('categories_index') }}" class="btn btn-primary" ><span class ="glyphicons glyphicons-unshare"></span>Retour</a>
        
        
            <a href="{{ path('categories_edit', { 'id': category.id }) }}" class="btn btn-primary" ><span class ="glyphicon glyphicon-pencil"></span>Modifier</a>
        
       
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-primary" ><span class ="glyphicons glyphicons-unshare"></span>
            {{ form_end(delete_form) }}
       
    </div>
            {%endif%}
            
                
            <div   align="center" style="font-size: 17pt; white-space= nowrap ; text-overflow: ellipsis; ">    <h1>{{ category.name }} (<span id="numetape">1</span>/{{ category.numberEtape + 1}} )</h1> </div>
   
            <div class='list_etape'>
            <div class="step" id="et-0" data="0">
           
            <div style="background: #eee;border-radius: 5px; padding: 20px;">
                            <fieldset>
                                <legend>Qualification de l'entreprise ou du projet</legend>
                                 
             {{ form_start(formQualification, { 'attr': {'class': ''} }) }}
             {{ form_label(formQualification.existe, 'Votre entreprise existe-t-elle déjà ? ', {'label_attr':{class:'col-md-6'} }) }}
             {{ form_widget(formQualification.existe,{'label_attr':{class:'col-md-6'}}) }}
             <div class="bl1">
                 
                {{ form_label(formQualification.activity, 'Votre activité ', {'label_attr':{class:'foo'} }) }}
                {{ form_widget(formQualification.activity) }}</br>
                {{ form_label(formQualification.department, 'Votre département  ', {'label_attr':{class:'foo'} }) }}
                {{ form_widget(formQualification.department) }}</br>
                {{ form_label(formQualification.commune, 'Votre commune  ', {'label_attr':{class:'foo'} }) }}
                {{ form_widget(formQualification.commune) }}</br>
                {{ form_label(formQualification.forme, 'Votre forme juridique  ', {'label_attr':{class:'foo'} }) }}
                {{ form_widget(formQualification.forme) }}
             </div>
             <div class="bl2">
                 {{ form_label(formQualification.siret, 'Votre département  ', {'label_attr':{class:'foo'} }) }}
                 {{ form_widget(formQualification.siret) }} 
             </div>
             {{ form_end(formQualification) }}
                             </fieldset>
                             
            </div>              
           
            </div>
            
             {{ form_start(form, { 'attr': {'class': 'etapeform'} }) }}
             
               {% for question in form.questions %}
                    <div class="step" data="{{loop.index}}" id="et-{{loop.index}}">
                        <div style="background: #eee;border-radius: 5px; padding: 10px;">
                            <fieldset>
    <legend> {{question.vars.value.name}}</legend>
                       {% for reponse in question.reponses %}
                         <div>  
                             <div class="col-md-9">
                             <label> {{reponse.vars.value.name}}</label>
                             </div>
                             <div class="col-md-3">
                                 {{ form_widget(reponse.statut) }}
                             </div>
                         </div>
                        <br>
                    {% endfor  %}
                        </fieldset>
                        </div>
                     
                    </div>
                    {% endfor  %}
                      <input type="button" value="précident" class="previous btn btn-primary" ><span class ="glyphicons glyphicons-unshare"></span>
                     <input type="button" value="suivant" class="next btn btn-primary" ><span class ="glyphicons glyphicons-unshare"></span>
            </form>
            </div>
       

    </div> 
                    
                   <style>
                       fieldset {
    margin: 0px 20px 5px 20px;
    padding: 20px;
    padding-top: 10px;
    border: 1px solid #004379;
    border-radius: 5px;
}
                       fieldset legend {
    color: #E50043;
    font-weight: normal;
    font-size: 20pt;
    padding: 0px 10px;
}
                       </style>
{% endblock %}


{% block javascriptsbottom %}
<script>
           $( document ).ready(function() {
               
               $('.bl2').hide();
              $('#workflowbundle_qualification_existe').change(function(){
                 //console.log($('#workflowbundle_qualification_existe_0').is(":checked"));
        if($('#workflowbundle_qualification_existe_0').is(":checked")){
                  $('.bl2').show();
                  $('.bl1').hide();
              } 
        if($('#workflowbundle_qualification_existe_1').is(":checked")){
                  $('.bl1').show();
                  $('.bl2').hide();
              }
              })
               
               
               
               
               
 $('.step').hide();
     $('#et-0').show();
     $('#et-0').addClass("current");
 
 $('.next').click(function(){
        
      var num =  $('.current').attr('data') ; 
      var next = parseInt(num)+1;
       $.ajax({
  url: "test.html",
  method: "post",
  data: $('.etapeform').serialize(),
}).done(function() {
  $( this ).addClass( "done" );
});     
      if((next) <= {{category.numberEtape}}) {
          
      $('#et-'+num).hide();
      $('#et-'+num).removeClass("current");
       $('#et-'+next).addClass("current");
      $('#et-'+next).fadeIn("slow");
      $('#numetape').html(parseInt($('#numetape').text()) + 1);
      
       console.log(parseInt($('#numetape').text()) + 1);
       
   }         
    });
  $('.previous').click(function(){
         
      var num =  $('.current').attr('data') ; 
      var prev = parseInt(num)-1;
      if(prev == 0) {
          $('#numetape').html("1");
        $('.step').hide();
         $('.step').removeClass("current");
     $('#et-0').show();
     $('#et-0').addClass("current");  
       $('#numetape').html(1);    
      } if(prev > 0) {
        $('#et-'+num).hide();
      $('#et-'+num).removeClass("current");
       $('#et-'+prev).addClass("current");
      $('#et-'+prev).fadeIn();
      $('#numetape').html(parseInt($('#numetape').text()) - 1);
       console.log(prev);
   }         
    });
 
 $('.next1').click(function(){
     $.ajax({
  url: "test.html",
  method: "post",
  data: $('.etapeform').serialize(),
}).done(function() {
  $( this ).addClass( "done" );
});
 })
 
 
 
                });             
                        
                   </script>
{% endblock %}