
{% block stylesheets %}
        <link rel="stylesheet"  href="{{ asset('bundles/formationAnnonce/css/bootstrap.css') }}" />
        <link rel="stylesheet"  href="{{ asset('bundles/WorkflowBundle/css/form-elements.css') }}" />
        <link rel="stylesheet"  href="{{ asset('bundles/WorkflowBundle/css/style.css') }}" />
        <script src="{{asset('bundles/formationAnnonce/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('bundles/formationAnnonce/js/bootstrap.js')}}"></script>
         <script src="{{asset('bundles/WorkflowBundle/js/scripts.js')}}"></script>
        {% endblock %}
{% block body %}
    <h1>{{question.category.name}}</h1> <h3>{{question.category.numberEtape }}Etapes</h3>
    <div class="form-top">
        
		                        		<div class="form-top-left">
		                        	        <h3>{{question.name}}</h3>
		                            		<p>Tell us who you are:</p>
		                        		</div>
		                        		<div class="form-top-right">
		                        			<i class="fa fa-user"></i>
		                        		</div>
		                            </div>

    <table class="form-top">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ question.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ question.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
       
            <a href="{{ path('question_index') }}">Back to the list</a>
       
            <a href="{{ path('question_edit', { 'id': question.id }) }}">Edit</a>
        
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
       
    </ul>
        
        <div>
            <button type="button" class="btn btn-next">Next</button>
        </div>
{% endblock %}
