{#% extends "FOSUserBundle::layout.html.twig" %#}
<link rel="stylesheet"  href="{{ asset('bundles/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" />
<link rel="stylesheet"  href="{{ asset('bundles/bootstrap-3.3.7-dist/css/signin.css') }}" />
<script src="{{ asset('bundles/bootstrap-3.3.7-dist/js/ie10-viewport-bug-workaround.js') }}"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    
   
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class ="container">
<div class="row">
<form action="{{ path("fos_user_security_check") }}" method="post" class='col-md-6'>
     <h2 class="form-signin-heading">Please sign in</h2>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
<div class="form-group">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class='form-control'/>
</div>
<div class="form-group">
    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" class='form-control' /> </div>
<div class="form-group">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
</div>
  
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class='btn btn-danger' />
</form>
 
</div>

    <a href="{{path ('fos_user_resetting_request')}}">mot de passe oublié</a>
    
    
</div>
{% endblock fos_user_content %}
