{% extends "::base.html.twig "%}
{% block title %}
{{ parent()}} | ajout
{% endblock %}
    {% block header %}
        {{ parent()}}
        {% endblock%}
{% block container %}

<div class ="container">
    <div class="row">
        <div>
        {% if app.session.flashBag.has('success')%}
            <div class="alert alert-success">
                {%for msg in app.session.flashBag.get('success')%}
                    {{msg}}
                    {%endfor%}
            </div>
            {%endif%}
        <form method="post" class='col-md-6' {{form_enctype(form)}}>
            <legend>Ajouter un article</legend>
            <div class="form-group">
                <label for="titre">{{form_label(form.titre)}}</label>
                {{form_widget(form.titre,{'attr':{'class':'form-control'}})}}
            </div>
            <div class="form-group">
                <label for="titre">{{form_label(form.auteur)}}</label>
                {{form_widget(form.auteur,{'attr':{'class':'form-control'}})}}
            </div>
            <div class="form-group">
                <label for="contenu">{{form_label(form.contenu)}}</label>
                {{form_widget(form.contenu,{'attr':{'class':'form-control'}})}}
            </div>
            <div class="form-group">
                <label for="date">{{form_label(form.date)}}</label>
                {{form_widget(form.date,{'attr':{'class':'form-control'}})}}
            </div>
             <div class="form-group">
                <label for="Categorie">{{form_label(form.Categorie)}}</label>
                {{form_widget(form.Categorie,{'attr':{'class':'form-control'}})}}
            </div>
            {{form_widget(form.envoyer,{'attr':{'class':'btn btn-danger'}})}}
            {{form_rest(form)}}
        </form>
            <div class="col-md-6">
                
                {% include "formationAnnonceBundle::navigation.html.twig"%}
                
            </div>
    </div>
        
    
</div>
{% endblock %}
{% block footer %}
{{ parent()}} 
{% endblock %}


