{% extends "::base.html.twig "%}
{% block title %}
{{ parent()}} | Liste Annonces
{% endblock %}
    {% block header %}
        {{ parent()}}
        {% endblock%}
{% block container %}

<div class ="container">
    <div class="row">
        <div class="col-md-6">
<ul>

    <table class="table table-striped">
         <tr>
        <td>  Titre</td>
        <td>   Auteur</td>
        <td>   Catégorie</td>
        <td> Contenu </td>
        <td>Date</td>
        <td> Action </td>
        </tr>
{% for annonce in annonces %}
   
        <tr>
        <td>  {{ annonce.titre }}</td>
        <td>   {{ annonce.auteur }}</td>
        <td>   {{ annonce.categorie.nom }}</td>
        <td> {{ annonce.contenu }} </td>
        <td>{{ annonce.date|date('d-m-y') }}</td>
        <td> {%if is_granted('ROLE_ADMIN')%}<a href="{{path ('formation_annonce_modifier',{'id': annonce.id })}}" class="btn btn-primary" ><span class ="glyphicon glyphicon-pencil"></span> </a> 
          <a href="{{path ('formation_annonce_supprimer',{'id': annonce.id } )}}" class="btn btn-primary"><span class ="glyphicon glyphicon-trash"></span> </a> </td>
       {%endif%}
        </tr>
    
    {% endfor %}
    </table>
</ul>
    </div>
    <div class="col-md-6">
                
                {% include "DataConnectBundle::navigation.html.twig"%}
                
            </div>
    </div>
{% endblock %}
{% block footer %}
{{ parent()}} 
{% endblock %}