{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
<form class="col-lg-6"  action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
   
     <div class="form-group">
                <label for="UserName">{{form_label(form.username)}}</label>
                {{form_widget(form.username,{'attr':{'class':'form-control'}})}}
            </div>
   
        <div class="form-group">
                <label for="email">{{form_label(form.email)}}</label>
                {{form_widget(form.email,{'attr':{'class':'form-control'}})}}
            </div>
            <div class="form-group">
                <label for="plainPassword">{{form_label(form.current_password)}}</label>
                {{form_widget(form.current_password,{'attr':{'class':'form-control'}})}}
               
            </div>
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-danger" />
        {{ form_rest(form)}}
    </div>
</form>
</div>
