{% extends "FOSUserBundle::layout.html.twig" %}
<link rel="stylesheet"  href="{{ asset('bundles/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" />
<link rel="stylesheet"  href="{{ asset('bundles/bootstrap-3.3.7-dist/css/signin.css') }}" />
<script src="{{ asset('bundles/bootstrap-3.3.7-dist/js/ie10-viewport-bug-workaround.js') }}"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}
