{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
<form class="col-lg-6" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
   
    <div class="form-group">
                <label for="current_password">{{form_label(form.current_password)}}</label>
                {{form_widget(form.current_password,{'attr':{'class':'form-control'}})}}
            </div>
   
    <div class="form-group">
                <label for="plainPassword">{{form_label(form.plainPassword.first)}}</label>
                {{form_widget(form.plainPassword.first,{'attr':{'class':'form-control'}})}}
            </div>
                <div class="form-group">
                <label for="plainPassword">{{form_label(form.plainPassword.second)}}</label>
                {{form_widget(form.plainPassword.second,{'attr':{'class':'form-control'}})}}
            </div>
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-danger" />
        {{ form_rest(form)}}
    </div>
</form>
</div>
